@import "../../../scss/index.scss";
.register-form {
    margin-top: 20px;
  
    h1,h2,h3 {
      color: $font-light;
      text-align: center;
      font-size: 30px;
      padding-bottom: 10px;
    }
  
    .ui.form {
      .field {
        .input {
          margin-bottom: 5px;
  
          input {
            //background-color: $primary-color-hover;
            border: 2;
            font-size: 16px;
            color: $font-light;
  
            &:hover,
            &:active,
            &:focus {
              background-color: $background-grey-hover;
              border: 2;
            }
          }
  
          i {
            color: $primary-color;
            font-size: 19px;
          }
          &.error {
            input {
              border-bottom: 1px solid $danger;
            }
          }
        }
      }
  
      .button {
        width: 100%;
        background-color: $primary-color;
        color: $font-light;
        text-transform: uppercase;
        margin-top: 10px;
        border-radius: 50px;
        padding: 17px 0;
        font-size: 14px;
        letter-spacing: 3px;
      }
  
      .error-text {
        color: $primary-color;
        padding-left: 15px;
      }
    }
  
    &__options {
      margin-top: 20px;
      color: #000;
      text-align: center;
      font-size: 16px;
     
      font-weight: bold;
  
      p {
        &:first-of-type {
          margin-bottom: 10px;
          &:hover {
            cursor: pointer;
          }
        }
  
        &:last-of-type {
          color: $font-grey;
  
          span {
            color: $primary-color;
            text-decoration: underline;
            padding-left: 5px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
}
  